nav > ul{
    color: aquamarine;
    display: flex;
    
}
nav li{
    list-style: none;
    margin-right: 5px;
    font-weight: bold;
    padding: 10px;
    

    
}
nav li a {text-decoration: none;}
nav li:hover{
    background-color: aquamarine;
}
